<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pushvoip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC4E83171D76C1A700D9D5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4E83301D76C1A800D9D5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4E833B1D76C1A800D9D5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
